@import './base.scss';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

$yellow: rgb(255, 196, 0);
$ltYellow: rgb(255, 210, 60);
$ltGray: rgb(214, 214, 214);

#app {
  width: 90%;
  @include flexCenter;
  flex-direction: column;
  max-width: 1280px;
  font-weight: normal;
  margin: 0 auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
