@import './base.scss';

#app {
  width: 90%;
  @include flexCenter;
  flex-direction: column;
  max-width: 1280px;
  font-weight: normal;
  margin: 0 auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
